$color-blue: #00aeef;
$submenu-width: 180px;

// TODO Need media queries here
.nav {
  box-sizing: border-box;
  padding: 1em;
  transition: background-color 0.25s;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 99;
  padding-top: 24px;
  background: transparent;
  opacity: 1;
  color: #fff;
  text-align: left;
  justify-content: space-between;
  a {
    display: block;
    padding: 0 16px;
    line-height: inherit;
    cursor: pointer;
  }
  img {
    margin-top: 0;
    height: 45px;
  }
  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.nav__menu {
  display: flex;
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__menu-item {
  display: inline-block;
  position: relative;

  &:hover {
    background-color: $color-blue;

    .nav__submenu {
      display: block;
    }
  }
}

.nav__submenu {
  font-weight: 300;
  text-transform: none;
  position: absolute;
  width: $submenu-width;
  background-color: $color-blue;
}

.nav__submenu-item {
  &:hover {
    overflow: visible;
    z-index: 99;
    background: rgba(#000, 0.1);
  }
}

.pill_boxes {
  display: flex;
  flex-direction: row;
}

.nav-sticky {
  position: fixed;
  background-color: white;
  width: 100%;
}

html:not([data-scroll='0']) {
  body {
    padding-top: 3em;
  }
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  }
}
